*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 250vh;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 50% 50% 30%;
    grid-template-areas: "navbar"
                         "section1"
                         "section2"
                         "section3";

}

/* Navigation and Logo*/
.navbar{
    grid-area: navbar;
    border: 1px solid black;
}




/* intro and images, skils */
.section1{
    grid-area: section1;
}


.section1 h1 {
    font-size:90px;
    color:#707070;
    font-weight: normal;
    margin-left: 3cm;
    float: left;

}

.float-right{
margin-top: 1cm;
height: 15cm;
width: 100%;
float: right;
}

.section1 h2 {

    color:#707070;
    font-size: 30px;
    text-align: center;

}




.section1 ul li {
    color:#707070;
    font-size: 30px;
    text-align: justify;
    margin-left: 50%;

}


.section1 .in1 {
    height: 300px;
    width: 666px;
    float: right;
}

.section1 .model {
    height: 100%;
    width: 40%;
    float: left;
    margin-left:10px;
}

/*types of website and sample work */
.section2{
    grid-area: section2;
}

/* slideshow of works */
.section3{
    grid-area: section3;
}

